@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@700&display=swap");
 
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.square {
  background-color: rgba(74, 197, 197, 0.768);
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 3rem;
}
.square:hover {
  background-color: rgb(27, 255, 255);
}
.square.clicked {
  background-color: rgb(63, 118, 170);
  /* //pour que l'on ne puisse plus cliquer dessus */
  cursor:not-allowed;
}

.App {
  height: 100vh;
  background-color: rgb(199, 225, 225);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  color:rgb(63, 118, 170);
  font-size:5rem;
}
/* // css de grille */
.board {
  display: grid;
  /* // 3cases à répéter */
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  /* // écartement */
  grid-gap: 5px;
  margin-top: 2rem;
 
}

.end-game-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}

.btn {
  background: rgb(27, 255, 255);
  color: rgb(63, 118, 170);
  border: 2px solid rgb(63, 118, 170);
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
  max-height: 7rem;
}

.btn:hover {
  background: rgb(63, 118, 170);
  color: rgb(27, 255, 255);
  border: 2px solid rgb(27, 255, 255);
}

.win-text {
  color: rgb(63, 118, 170);
  font-size: 5rem;
}

.win-history {
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem ;
  text-align: center;
 
}

.morpion{
  margin-bottom: 3rem;
}

